#This the the canonical lab .gitignore file

#ignore temp files
*~
#ignore junk files from compiling C code
*.o

#ignore other junk files
*.backup
*.kate-swp
*.swp
*.snm
*.vrb
*.nav
*.toc

.vscode
src/imgui.ini
