name: C/C++ CI

on:
  push:
    branches: [ "workflows" ]
  pull_request:
    branches: [ "workflows" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: openrndr/setup-opengl@v1.1
#    - name: configure
#      run: ./configure
    - name: make
      working-directory: ./src
      run: make game
#    - name: make check
#      run: make check
#    - name: make distcheck
#      run: make distcheck
